[submodule "dep/lurker"]
	path = dep/lurker
	url = git@github.com:komiga/lurker.git
[submodule "dep/lume"]
	path = dep/lume
	url = git@github.com:rxi/lume.git
[submodule "dep/lovebird"]
	path = dep/lovebird
	url = git@github.com:rxi/lovebird.git
